/* Add your custom CSS here */




body { font-family: 'Outfit', sans-serif }

h1,h2{ white-space: nowrap;}



body {width: auto;}
.section-selector-1 { background-color: var(--trend-700) }
.section-selector-1 .container-upper-label { color: var(--white-000) }
.section-selector-1 li { color: var(--white-000) }
.section-selector-1 h2 { color: var(--white-000) }
.section-selector-1 p { color: var(--white-000) }



.section-selector-2 { background-color: var(--trend-800) }
.section-selector-2 h2 { color: var(--white-000) }
.section-selector-2 .col-2.col-text p { color: var(--white-000) }
.section-selector-2 .col-2.col-text li { color: var(--white-000) }
.section-selector-2 .col-2.col-text  p { text-align: justify; }






.section-selector-3 { background-color: var(--trend-700) }
.section-selector-3 h2 { color: var(--white-000) }
.section-selector-3 .col-2.col-text p { color: var(--white-000) }
.section-selector-2 .col-2.col-text p { text-align: justify; }


.section-selector-4 { background-color: var(--trend-700) }
.section-selector-4 .col-1 h2 { color: var(--white-000) }
.section-selector-4 div[class^='flex-cols-'] div[class^='col-'] p { color: var(--white-000) }
.section-selector-4 div[class^='flex-cols-'] div[class^='col-'] li { color: var(--white-000) }
.section-selector-4 div[class^='flex-cols-'] div[class^='col-'] h3 { color: var(--white-000) }






